.wrapper {
    font-family: Montserrat-Light, serif;
    color: black;
    font-size: 13px;
    padding-right: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}