.wrapper {
    width: 100%;
    color: #333;
    user-select: none;
}

.header {
    width: 100%;
    height: 215px;
    border-bottom: 5px solid rgba(95, 76, 62, 0.4);
}

.content {
    width: 100%;
}
